.calendar-page {
    width: 81vw;
    margin: 66px 17vw;
    /* background: white; */
    display: flex;
    background: white;
    padding: 10px;
    justify-content: space-between;
    /* border-radius: 10px; */
    /* box-shadow: 0px 0.5px 1px grey; */
    /* max-height: 70vh; */
}

.calendar-page .calendar {
    width: 50vw;
}

.calendar-page .calendar .title {
    font-size: 20px;
    font-weight: 700;
    color: #18468b;
    padding: 5px;
}

/* body {font-family: Verdana, sans-serif;} */

.calendar-page ul {
    list-style-type: none;
    padding: 0;
}

.calendar-page .calendar .picker {
    display: flex;
    justify-content: space-around;
    color: #18468b;
    font-weight: 500;
    padding: 5px;
    font-size: 18px;
}

.calendar-page .calendar .picker i {
    font-weight: 1000;
}

.calendar-page .calendar hr {
    padding: 0;
    margin: 2px;
}

/* .calendar-page .dayofweek {
    display: flex;
    width: 30vw;
    justify-content: space-around;
} */

.calendar-page .dayofweek {
    margin: 0;
    padding: 10px 0;
    /* background-color: #ddd; */
}

.calendar-page .dayofweek li {
    display: inline-block;
    width: 7vw;
    /* color: #666; */
    text-align: center;
    font-weight: 500;
}

.calendar-page .days li {
    /* list-style-type: none; */
    display: inline-block;
    width: 7vw;
    /* text-align: center; */
    margin:10px 0;
    font-size: 12px;
    text-align: center;
    /* color: #777; */
}

.days li .color-event {
    /* text-align: center; */
    width: 3vw;
    height: 3vw;
    line-height: 3vw;
    /* height: 7vw; */
    /* padding: 10px; */
    /* background: #1abc9c; */
    border-radius: 50%;
    text-align: center;
    margin: auto;
    font-size: 15px;
    /* color: white !important */
}
.days {
    padding: 10px 0;
    /* background: #eee; */
    margin: 0;
}

.calendar-page .schedule {
    width: 28vw;
    background: #3a7cdf;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.calendar-page .schedule .date {
    font-size: 16px;
    font-weight: 400;
    /* padding: 10px; */
    margin: 10px 5px;
    background: white;
    color: rgb(97, 97, 97);
    font-weight: 500;
    padding: 2px 5px;
}

.calendar-page .schedule .event {
    max-height: 55vh;
    overflow: auto;
}

.calendar-page .schedule td {
    padding: 5px;
    vertical-align: top;
}

.calendar-page .schedule .time {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
}

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.calendar-button {
    width: 75vw;
    margin: 10px 20vw;
    /* background: white; */
    display: flex;
    /* background: white; */
    /* padding: 10px; */
    border-radius: 10px;
    justify-content: space-between;
    /* box-shadow: 0px 0.5px 1px grey; */
}

.calendar-button .btn {
    background: white;
    width: 75vw;
    box-shadow: 0px 0.5px 1px grey;
}

.calendar-page .popup-event {
    position: fixed;
    width: 60vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    margin-top: -30vh;
    /* Negative half of height. */
    margin-left: -25vw;
    /* Negative half of width. */
    background: white;
    /* border: 1px solid gray; */
    box-shadow: 2px 2px 10px 0px rgb(197, 197, 197);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px
}

.calendar-page .popup-event .event-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.calendar-page .popup-event .event-input label {
    font-weight: 500;
}

.calendar-page .popup-event .event-input .inputops {
    width: 40vw;
    font-size: 16px;
    height: 30px;
}

.calendar-page .popup-event .event-input {
    font-size: 16px;
    height: 30px;
    background: white;
    border: 1px solid black;
    border-radius: 1.5px;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
}

.popup-event .add-title, .add-title:focus {
    border-width: 0 0 2px;
    outline: none;
    display: block;
    width: 30vw;
    margin: 10px;
}

.popup-event .event {
    /* display: flex; */
    /* display: inline-block; */
    margin: 20px 10px;

}

.popup-event .content, .content:focus {
    /* margin: 10px; */
    border-width: 0 0 2px;
    outline: none;
    display: block;
    width: 30vw;
    margin: 10px;
}

.popup-event .time, .time:focus {
    margin: 10px;
    border-width: 0 0 2px;
    outline: none;
    /* display: block; */
    width: 15vw;
    margin: 10px;
}

.popup-event .color {
    margin: 10px
}

.event-clock {
    margin: 10px;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-clock .clock {
    width: 10vw;
    display: inline-block;
    /* margin: 10px; */
    padding: 3px;
}

.popup-event .btn-box {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.popup-event .btn.add {
    background: rgb(100, 233, 122);
    width: 25vw;
}

.popup-event .btn.cancel {
    background: rgb(255, 214, 180);
    width: 25vw;
}
.react-datepicker__input-container input {
    display: inline-block;
    border-width: 0 0 2px;
    outline: none;
    display: block;
    width: 30vw;
    margin: 10px;
}



