.change-pw{

    margin: 20px auto;
    background: #fff;
    padding: 15px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    border-radius: 5px;
}

.pw-input {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin: 10px;
}

.pw-input label{
    font-size: 18px;
    font-weight: 400;
    color: #6e6b7b;
    display: inline;
}

.pw-input .inputops {
    width: 100%;
    
    /* width: 200px; */
    font-size: 16px;
    height: 30px;
    border-radius: 100px;
    border:0.05px solid rgb(206, 206, 206);
}

.pw-input input[type=password] {
    /* font:small-caption; */
    width: 100%;
    
    /* width: 200px; */
    font-size: 16px;
    height: 30px;
    border-radius: 100px;
    border:0.05px solid rgb(206, 206, 206);
}

.pw-input input{
    padding: 10px
}

.pw-input input:focus{
    outline: none;
    border:0.05px solid #0c63dc;
}

.pw-input input[type=password]:focus {
    background: white;
    box-shadow: 0px 0px 0px 0.5px black inset;
}

.connect-box {
    display: flex;
    justify-content: flex-end;
    margin-right:10px ;
}

.connect-box .btnconnect-box .btnconnect {
    text-align: center;
    width: 200px;
    padding: 5px;
    /* border: 1px solid grey; */
    background: #3b5da1;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
}

.connect-box .btnconnect-box .btndisconnect{
    text-align: center;
    width: 10vw;
    padding: 5px;
    border: 1px solid grey;
    background: #ff0100;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.connect-box .btnconnect-box .connect-status.fail {
    color: red;
    font-size: 14px;
}

.connect-box .btnconnect-box .connect-status.success {
    color: green;
    font-size: 14px;
}

.connect-box .btnconnect-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}