.deadline-page {
    /* width: 75vw; */
    /* margin: 0px 20vw; */
    /* background: white; */
}

.deadline .content{
    /* padding: 30px 30px 10px 30px; */
    margin-top: 10px;
    padding: 10px;
    background: white;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    border-radius: 5px;
    border:0.1px solid rgb(224, 224, 224);
}

.deadline .titlee {
    font-size: 24px;
    font-weight: 500;
    /* border: 1px solid black; */
    padding: 5px;
    background: #18468b;
    border-radius: 5px;
    color: white;
}

.deadline .decription {
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    color: rgb(56, 56, 56);
}

.deadline .duedate {
    font-size: 14px;
    /* font-weight: 500; */
    padding: 5px;
    color: grey;
}

.deadline .direct {
    display: flex;
    justify-content: space-around;
    /* padding: 5px; */
}

.deadline .link {
    font-size: 16px;
    text-align: center;
    /* width: 70vw; */
    padding: 5px;
    /* font-weight: 500; */
    /* background: grey; */
    border-radius: 5px;
    font-weight: 450;
}

.deadline a {
    text-decoration: none;
    color: black;
}

.deadline .link:hover {
    background: rgb(243, 243, 243);
}

.datepicker {
    /* width: 85vw; */
    /* margin: 0 0 0 15vw; */
    /* background: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    /* background: white; */
    /* border-radius: 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.05) 0 0 15px 0; */
    /* border-radius: 5px; */
    /* position: fixed;
        width: 50vw; */
}

/* .datepicker select{
    width: 30vw;
    height: 5vh;
} */

.datepicker .month {
    font-size: 24px;
    font-weight: 200;
    color: #5e5873;
}

.datepicker .change-month {
    /* background: rgb(189, 241, 172); */
    /* padding: 10px; */
    border-radius: 5px;
    font-size: 18px;
    /* width: 10vw; */
    text-align: center;
    /* background: rgb(114, 152, 235); */
}

.datepicker .change-month:hover {
    /* background: rgb(243, 243, 243); */
}

.deadline-page hr {
    padding: 0px;
    margin: 10px;
}

.deadline-tag {
    /* box-shadow: rgba(0,0,0, 0.05) 0 0 15px 0 ; */
    background: white;
    border-radius: 7px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);

}

.deadline-tag .tag {
    background: white;
    /* display: flex;
    justify-content: space-around; */
    text-align: center;
    /* border-radius: 5x; */
}

.deadline-tag .row {
    margin-right: -15px;
    margin-left: 0;
}

.deadline-tag .btn-deadline {
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    /* font-weight: 600;
    color: #18468b;
    border: 1px solid gray; */
    font-weight: 400;
    line-height: 1.2;
    color: #5e5873;
}

.deadline-tag .tag .assign {
    border-bottom: 2px solid #18468b;
    color: #18468b;
    margin-bottom: -2px;
}

.deadline-tag .tag .university {
    border-bottom: 2px solid #18468b;
    color: #18468b;
    margin-bottom: -2px;
}

.deadline-tag .tag .faculty {
    border-bottom: 2px solid #18468b;
    color: #18468b;
    margin-bottom: -2px;
}

.news-page {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 15px 0;
    border-radius: 5px;
}

.news-page a {
    text-decoration: none;
}

.news-page .news {
    padding: 20px 20px 0 20px;
}

.news-page .news:hover .title {
    color: #3e50b5;
}

.news-page .title {
    font-size: 18px;
    font-weight: 100;
    color: #6e6b7b;
}

.news-page .time {
    color: #8f8f97;
    font-size: 14px;
}