.forum {
    /* background: rgb(255, 255, 255); */
}

.forum .list-forums {
    /* background: white; */
    /* padding: 10px 20px; */
    margin: 10px;
    /* border-radius: 20px; */
    /* display: inline-block; */
}

.forum .btn-forum {
    padding: 0.5rem;
    margin-top: 0.25rem;
    border-radius: .428rem;
}

.forum .btn-forum:hover {
    background: #f0f2f5;
}

.forum .card {
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    border-radius: 7px;
}

.forum .list-forums .title {
    padding-top: 10px;
    font-weight: 300;
    font-size: 14px;
    /* max-width: 60vw; */
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
    display: -webkit-box;
    /* -webkit-line-clamp: 4; */
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.forum .list-forums .time {
    /* width: 400px; */
    font-size: 13px;
    color: #808085;
    /* margin-left: 10px; */
    /* display: block; */
}

.forum .list-forums .own {
    /* color: #6e6b7b; */
    font-size: 16px;
    font-weight: 500;
    /* background: rgb(243, 243, 243); */
    margin-right: 10px;
    /* border-radius: 10px; */
}

.forum .list-forums .interactive {
    font-size: 14px;
    color: #6e6b7b;
}

.forum .list-forums.own {
    background: rgb(248, 248, 248);
}

.forum .list-forums .comment {
    /* margin: 5px 5px; */
    font-size: 12px;
    color: black;
}

.forum .title.comment.own {
    /* background: white; */
}

.forum .title.comment {
    background: rgb(243, 243, 243);
    padding: 5px 0;
    border-radius: 10px;
    /* font-size: 14px; */
}

.forum .comment.time {
    margin: 0 10px;
    font-size: 11px;
    color: #000000;
}

.post-forum .btn-post {
    color: #fff;
    background: #5eba7d;
    padding: 5px;
    width: 12vw;
    text-align: center;
}

.post-forum .popup {
    display: fixed;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    border-radius: 7px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    /* overflow: auto; */
    padding: 20px;
    z-index: 4;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.forum .input-comment {
    /* width: 70vw; */
    font-size: 14px;
    height: 30px;
    background: white;
    border: 0.05px solid rgb(206, 206, 206);
    border-radius: 100px;
    margin: 0;
    padding: 5px;
    /* display: block; */
}

.forum .input-comment:focus {
    background: white;
    outline: none;
    border: 0.05px solid #0c63dc;
}

.forum .like {
    color: red
}

.post-forum .popup .title {
    /* border-width: 0 0 2px; */
    border: 0;
    outline: none;
    display: block;
    /* width: 30vw; */
    /* margin: 10px; */
}

.post-forum .popup .header {
    padding: 5px;
    font-weight: 500;
    font-size: 18px;
}

.post-forum .popup .select-scope {
    /* width: 20vw; */
    padding: 5px;
    margin: 2px;
}

.post-forum .popup .btn-add-post {
    background: rgb(24, 70, 139);
    /* width: 15vw; */
    padding: 5px;
    text-align: center;
    font-weight: 500;
    color: white;
    border-radius: 2px
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.post-forum .popup .button-popup {
    display: flex;
    justify-content: space-between;
}

.post-forum .popup .btn-cancel-post {
    background: #f1f2f4;
    /* width: 15vw; */
    padding: 5px;
    text-align: center;
    font-weight: 500;
    color: rgb(24, 70, 139);
    border-radius: 2px
}

.forum .dialog-popup {
    display: fixed;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 4;
}

.forum textarea {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}