.login-container{
    margin-top: 10%;
    margin-bottom: 10%;
    max-height: 300px;
    
}

.info{
    padding-top: 5%;
    padding-left: 10%;
}

.login-form-1{
    border-radius: 10px; 
    padding: 3%;
    background:#ffffff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:rgb(0, 0, 0);
}

.btnSubmit{
    font-weight: 600;
    width: 50%;
    /* color: black; */
    background-color: rgb(255, 255, 255);
    border: 1.5px solid black;
    border-radius: 1.5rem;
    padding:2%;
}

.btnSubmit:hover{
    box-shadow:0px 0px 0px 0.5px black inset;
}

.btnForgetPwd{
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none;
    padding-left: 10%;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:rgb(100, 100, 100);
}

#login-input{
    background: #ffffff;
    border:1px solid black;
}