.bg-icon {
    background-color: #ffffff;
    padding: 10%;
    border: black solid 1px;
    border-radius: 100%;
}

.bg-icon:hover {
    background-color: #d8dce2
}

.navbar-nav {
    flex-direction: row;
}

li.nav-item {
    margin: 0 0 0 1vw;
}

.navbar {
    border-bottom: 2px solid black;
    /* position: fixed;
    top: 0; */
    width: 100%;
    z-index: 99;
}

.action-box {
    width: 25vw;
    position: fixed;
    right: 5px;
    top:56px;
    z-index: 0;
    background: white;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    /* box-shadow: 1px 1px black; */
}

.message-content {
    padding: 5px 0 0px 5px;
    margin: 5px 5px 10px 5px;
    display: flex;
    align-items: flex-start;
}

.message-content:hover {
    background: rgb(196, 196, 196);
    border-radius: 10px;
}

.message-content-text {
    margin-top: 0;
    margin-left: 10px;
    display: inline-block;
    vertical-align: text-top;
}

.message-content-text .time {
    font-weight: 100;
    font-size: 11px;
}

.message-content-text .text {
    padding-top: 0;
    width: 18vw;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.user-content {
    padding: 5px 0 0px 5px;
    margin: 5px 5px 10px 5px;
    display: flex;
    align-items: center;
}

.user-content-name {
    margin-top: 0;
    margin-left: 10px;
    /* text  */
    /* display: inline-block; */
    /* vertical-align: text-top; */
}

.user-link {
    margin: 1px;
    padding: 10px;
    font-weight: 500;
    color: black;
    display: block;
    border-radius: 10px;
}

.user-link:hover {
    background: rgb(231, 231, 231);
    color: black;
}