.info-profile {
  width: 80vw;
  margin: 76px 17.5vw;
  background: #fff;
  padding:20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px grey;

}

/* table{
    margin: auto;
} */

hr {
  border-top: 1px solid gray;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  font-size: 14px;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.firstcol{
  font-weight: bold;
  padding-left: 20px;
}

td{
  padding: 15px 0px 15px 5px;
}

.tb-row:hover{
  /* background: rgb(226, 226, 226); */
  background: rgb(243, 243, 243);

  cursor:pointer;
}

.edit{
  color: rgb(71, 71, 194);
} 

.confirm{
  margin: 2px;
  padding: 5px;
  background: #304f8d;
  color: white;
}

.cancel{
  margin: 2px;
  padding: 4px;
  background: #ffffff;
  border:1px solid;
}

.image{
  border-radius: 100px;
}

.info-profile input{
  width: 45vw;
}