.seturl-box {
    /* width: 60vw; */
    margin: 20px auto;
    background: #fff;
    padding: 15px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    border-radius: 5px;
}

.lb-input {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    margin: 10px;
}

.lb-input .inputops {
    width: 100%;
    
    /* width: 200px; */
    font-size: 16px;
    height: 30px;
    border-radius: 100px;
    border:0.05px solid rgb(206, 206, 206);
}

.lb-input label{
    font-size: 18px;
    font-weight: 400;
    color: #6e6b7b;
    display: inline;

}

.info-connect {
    display: flex;
    justify-content: flex-end;
}

.info-connect .btnconnect-box {
    /* width: 40vw; */
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 10px 0;
    align-items: center;
}

.info-connect .btnconnect-box .btnconnect {
    text-align: center;
    width: 100px;
    padding: 5px;
    /* border: 1px solid grey; */
    background: #3b5da1;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
}

.info-connect .btnconnect-box .btndisconnect{
    text-align: center;
    /* width: 15vw; */
    padding: 5px;
    /* border: 1px solid grey; */
    background: #ff0100;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
}

/* input {
    padding: 5px;
} */

.lb-input input[type=password] {
    /* font:small-caption; */
    width: 100%;
    /* width: 200px; */
    font-size: 16px;
    height: 30px;
    background: white;
    border:0.05px solid rgb(206, 206, 206);
    border-radius: 100px;
    margin: 0;
    padding: 5px;
}
.lb-input input{
    padding: 10px
}

.lb-input input:focus{
    outline: none;
    border:0.05px solid #0c63dc;
}


.lb-input input[type=password]:focus {
    width: 100%;
    /* width: 200px; */
    background: white;
    /* box-shadow: 0px 0px 0px 0.5px black inset; */
}

.connect-status {
    color: red;
    font-size: 14px;
}

.seturl-successbox{
    width: 100%;
    margin:20px auto;
    background: #fff;
    padding: 5px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    border-radius: 10px;
}

.success-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 56px 0;
}

.success-box .content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}

.success-box .back {
    padding: 10px;
    width: 200px;
    /* margin: 10px; */
    border: 1px solid black;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);

    /* background: green; */
    /* color: white; */
    border-radius: 5px;
}

.seturl-tag {
    width: 85vw;
    margin: 56px 0 0 15vw;
    background: white;
    /* padding: 10px; */
}

.seturl-tag .tag {
    background: white;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.seturl-tag .btn-seturl {
    display: inline-block;
    padding: 15px;
    width: 50vw;
    font-size: 16px;
    font-weight: 500;
    /* border-bottom: 2px solid black; */
}

.seturl-tag .tag .portal {
    border-bottom: 2px solid grey;
    color: gray;
    /* border-bottom-left-radius: 10px; */
}

.seturl-tag .tag .moodle {
    border-bottom: 2px solid rgb(255, 116, 116);
    color: rgb(255, 116, 116);
}

.seturl-tag .tag .trello {
    border-bottom: 2px solid #0c63dc;
    color: #0c63dc;
}

.boxshadow{
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);

}

.seturl-active{
    border-bottom: 2px solid #0c63dc;
    color: #0c63dc;
}

.seturl-active:hover{
    border-bottom: 2px solid #0c63dc;
    color: #0c63dc;
}

.seturl-tag .tag .slack {
    /* border-bottom: 2px solid linear-gradient(to right, red, purple);
     */
    
    background: linear-gradient( to right, #36c5f0, #2eb67c, #edb32e, #e01e5b) bottom no-repeat;
    /* background-size: 100% 5px; */
    background-size:100% 2px;
    color: rgb(255, 116, 116);
    /* border-bottom: 2px solid grey; */
    /* padding-bottom: 1px; */
    /* margin-top: 2px; */
    /* font-size: 16px; */
    /* padding-top:10px; */
}

.btnconnect-box .gr-btnconnect{
    display: flex;
}